<form id="filter">
    <label> Period
        <select name="since" onchange="document.getElementById('filter').submit();">
            <option value=""></option>
            <option value="-3 months (default)">3 months</option>
            <option value="-2 weeks">2 Weeks</option>
            <option value="-1 month">1 month</option>
            <option value="-2 months">2 months</option>
            <option value="-6 months">6 months</option>
            <option value="-1 year">1 year</option>
        </select>
    </label>
</form>
